# PyCharm IDE
.idea
__pycache__

# Data directory
data/examples
data/out-Images
data/out-videos

# Pretrained weights binaries
models/binaries

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Images in the root (if they exist)
*.jpg
*.png
*.psd
/.vs
